.popup {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease-in;
    z-index: 1;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in;
}

.popup__form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    max-width: 358px;
    padding: 34px 36px 28px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    overflow: hidden;
}

.popup__close-button {
    background-image: url("../../images/cross.svg");
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    align-self: flex-end;
    margin-top: -50px;
    margin-right: -45px;
    transition: 0.5s ease-in;
}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    max-width: 358px;
    margin: 0;
}

.popup__button-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2F71E5;
    outline: none;
    border: none;
    background: #FFFFFF;
    margin-top: 14px;
}

.popup__tag {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
}

.popup__input {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__input_email {}

.popup__input_password {}

.popup__error {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

.popup__error:nth-last-child(1) {
    text-align: center;
}

.popup__button {}

.popup__text {}

@media screen and (max-width: 539px) {
    .popup__close-button {
        width: 40px;
        height: 42px;
        margin-top: -33px;
        margin-right: -32px;
    }
}

@media screen and (max-width: 539px) {
    .popup__form {
        width: 75%;
    }
}