.saved-news-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
}

.saved-news-header__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 120px auto 28px 7.17%;
}

.saved-news-header__news-counter {
  font-family: Roboto Slab, Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0 auto 30px 7.17%;
  width: 60%;
  max-width: 530px;
}

.saved-news-header__keywords {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0 auto 56px 7.17%;
  width: 60%;
}

.saved-news-header__keywords-span {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .saved-news-header__title {
    font-size: 14px;
    line-height: 24px;
    margin: 90px auto 16px 5.21%;
  }
  .saved-news-header__news-counter {
    font-size: 30px;
    line-height: 34px;
    margin: 0 auto 16px 5.21%;
    width: 45%;
  }
  .saved-news-header__keywords {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto 32px 5.21%;
    width: 45%;
  }
  .saved-news-header__keywords-span {
    font-weight: bold;
  }
}