.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  margin: 0;
  background-color: #F5F6F7;
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex: 1 0 auto;
}

@media screen and (max-width: 539px) {
  .page_fixed {
    position: fixed;
    width: 100%;
  }
}