.navigation {
  display: flex;
  margin-left: auto;
}

.navigation__link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-right: 34px;
}

.navigation__link_theme_main {
  color: #B6BCBF;
}

.navigation__link_theme_saved-news {
  color: #1A1B22;
}

.navigation__active-link {
  border-bottom: 3px solid;
}

.navigation__active-link_theme_main {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.navigation__active-link_theme_saved-news {
  color: #1A1B22;
  border-color: #1A1B22;
}

.navigation__logout {
  border-radius: 100px;
  background-color: rgba(196, 196, 196, 0.01);
  padding: 0 19px 0 17px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 0 13px;
  transition: all linear 0.5s;
}

.navigation__logout_theme_main {
  border: 1px solid #FFFFFF;
}

.navigation__logout_theme_saved-news {
  border: 1px solid #D1D2D6;
}

.navigation__logout_theme_saved-news:hover {
  border: 1px solid #1A1B22;
}

.navigation__logout-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.navigation__logout-text_main {
  color: #FFFFFF;
}

.navigation__logout-text_saved-news {
  color: #1A1B22;
}

.navigation__logout-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.navigation__logout-image_theme_main {
  background-image: url('../../images/logout-white.png');
}

.navigation__logout-image_theme_saved-news {
  background-image: url('../../images/logout-black.png');
}

@media screen and (max-width: 1023px) {
  .navigation__link {
    font-size: 16px;
    margin-right: 16px;
  }
  .navigation__logout {
    margin: 14px 0 12px;
    padding: 0 13px 0 15px;
  }
  .navigation__logout-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    position: fixed;
    top: 56px;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1A1B22;
    width: 90%;
    border-radius: 0 0 16px 16px;
    padding: 16px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.2s ease;
    z-index: 1;
    padding: 16px 5% 24px;
  }
  .navigation_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear 0.2s;
  }
  .navigation__link {
    font-size: 18px;
    line-height: 56px;
    color: #FFFFFF;
    margin-right: 0;
  }
  .navigation__active-link {
    border: none;
  }
  .navigation__logout {
    justify-content: center;
    align-self: center;
    padding: 15px 0;
    margin: 22px 0 0px;
    width: 100%;
    max-width: 400px;
    transition: none;
  }
  .navigation__logout:hover {
    border: 1px solid #FFFFFF;
  }
  .navigation__logout-text {
    color: #FFFFFF;
  }
  .navigation__logout-image_active {
    background-image: url('../../images/logout-white.png');
  }
}

@media screen and (max-width: 424px) {
  .navigation {
    align-items: start;
  }
  .navigation__logout {
    justify-content: center;
    align-self: start;
  }
}