.navigation {
    display: flex;
    margin-left: auto;
}

.navigation__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-right: 34px;
}

.navigation__link_theme_main {
    color: #B6BCBF;
}

.navigation__link_theme_saved-news {
    color: #1A1B22;
}

.navigation__active-link {
    border-bottom: 3px solid;
}

.navigation__active-link_theme_main {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.navigation__active-link_theme_saved-news {
    color: #1A1B22;
    border-color: #1A1B22;
}

@media screen and (max-width: 1023px) {
    .navigation__link{
        font-size: 16px;
        margin-right: 16px;
    }
}