.header {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    background: rgba(196, 196, 196, 0.01);
    padding: 0 calc(14.5%/2) 0;
}

.header_theme_main {
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_theme_saved-news {
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__logo {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 30px 0 26px;
}

.header__logo-link {
    text-decoration: none;
}

.header__logo_theme_main {
    color: #FFFFFF;
}

.header__logo_theme_saved-news {
    color: #1A1B22;
}

.header__logout {
    border-radius: 100px;
    background-color: rgba(196, 196, 196, 0.01);
    padding: 0 19px 0 17px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px 0 13px;
    transition: all linear 0.5s;
}

.header__logout_theme_main {
    border: 1px solid #FFFFFF;
}

.header__logout_theme_saved-news {
    border: 1px solid #D1D2D6;
}

.header__logout_theme_saved-news:hover {
    border: 1px solid #1A1B22;
}

.header__logout-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-right: 5px;
}

.header__logout-text_main {
    color: #FFFFFF;
}

.header__logout-text_saved-news {
    color: #1A1B22;
}

.header__logout-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.header__logout-image_theme_main {
    background-image: url('../../images/logout-white.png');
}

.header__logout-image_theme_saved-news {
    background-image: url('../../images/logout-black.png');
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0 calc(10.42%/2) 0;
    }
    .header__logo {
        margin: 23px 0 19px;
    }
    .header__logout {
        margin: 14px 0 12px;
        padding: 0 13px 0 15px;
    }
    .header__logout-text {
        font-size: 16px;
    }
}