@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-color: #F5F6F7;
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}